// CSS Reset
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  user-select: none;
}
a {
  color: inherit;
}
ul {
  list-style: none;
}
body {
  //   font-family: "Quicksand", sans-serif;
  //   font-family: "Rubik", sans-serif;
}
